/*========================================================
                        Camera
=========================================================*/
.camera_container {
  background: #f4f9fe;
  border-bottom: 242px solid #f4f9fe;
  position: relative;
  padding-bottom: 40.2%;
}
@media only screen and (max-width: 479px) {
  .camera_container {
    border-bottom: 336px solid #f4f9fe;
  }
}
@media (max-width: 746.26865672px) {
  .camera_container {
    padding-bottom: 300px;
  }
}
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #fff;
  z-index: 0;
}
.camera_wrap img {
  max-width: none !important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont,
.cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0;
}
.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
}
.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}
.camera_loader {
  background: #ffffff url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_command_wrap .hideNav {
  display: none;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
.camera_caption {
  display: none;
}
.cameraContent .camera_caption {
  display: block;
}
/*================   Custom Layout&Styles   =====================*/
.camera_pag {
  position: relative;
  background: #fff;
  height: 53px;
  width: 1170px;
  margin: 0 auto;
  padding-top: 36px;
  margin-top: 152px;
}
@media only screen and (max-width: 1199px) {
  .camera_pag {
    width: 940px;
  }
}
@media only screen and (max-width: 979px) {
  .camera_pag {
    width: 748px;
  }
}
@media only screen and (max-width: 767px) {
  .camera_pag {
    width: 420px;
  }
}
@media only screen and (max-width: 479px) {
  .camera_pag {
    width: 270px;
    margin-top: 247px;
  }
}
.camera_pag_ul {
  text-align: center;
}
.camera_pag_ul li {
  cursor: pointer;
  display: inline-block;
  background: #d3d3d3;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 8px;
  border-radius: 50%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.camera_pag_ul li.cameracurrent > span,
.camera_pag_ul li > span:hover,
.camera_pag_ul li.cameracurrent {
  background: #464646;
}
.camera_pag_ul li.cameracurrent {
  cursor: auto;
}
.camera_pag_ul li + li {
  display: inline-block;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.camera_pag_ul li > span {
  display: none;
}
.camera_pag_ul li:hover {
  background: #464646;
}
.camera_pag:before,
.camera_pag:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 25px;
  width: 50%;
  height: 20%;
  max-width: 400px;
  -webkit-box-shadow: 0 15px 20px rgba(97, 120, 134, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(97, 120, 134, 0.3);
  box-shadow: 0 15px 20px rgba(97, 120, 134, 0.3);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.camera_pag:after {
  right: 25px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.camera_next {
  position: absolute;
  top: 50%;
  right: 40px;
  z-index: 9999;
}
.camera_next:before {
  margin-top: -13px;
  font-weight: 400;
  content: '\f054';
  font-family: 'FontAwesome';
  width: 19px;
  height: 27px;
  font-size: 28px;
  line-height: 28px;
  color: #535353;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.camera_prev {
  position: absolute;
  top: 50%;
  left: 40px;
  z-index: 9999;
}
.camera_prev:before {
  margin-top: -13px;
  font-weight: 400;
  content: '\f053';
  font-family: 'FontAwesome';
  width: 19px;
  height: 27px;
  font-size: 28px;
  line-height: 28px;
  color: #535353;
  cursor: pointer;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.camera_next,
.camera_prev {
  cursor: pointer;
}
.camera_next:hover:before,
.camera_prev:hover:before {
  color: #14b8b8;
}
